@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #001014f6, #012125);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00141a, #15001a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-sizing: border-box;
  margin: 0;
  padding: o;
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  color:rgb(255, 255, 255);
}

